<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      li {
        list-style-type: none;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <ul>
        <li v-for="item in obj">{{item}}</li>
        <li v-for="value in obj">{{value}}</li>
        <li v-for="(value,key) in obj">{{value}} {{key}}</li>
        <!-- (a,b) in obj,a为值，b为key -->
      </ul>
    </div>
    <script src="../js/vue.js"></script>
    <script>
      let app = new Vue({
        el: "#app",
        data: {
          obj: {
            name: "li",
            age: 18,
            sing: "rug",
          },
        },
      });
    </script>
  </body>
</html>
